body {
    background-color: #000;
}

.main {
    background-color: white;
    margin-top: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
}
.instructions {
    width: 575px;
    float: right;
    top: -450px;
    right: -60px;
    position: relative;
}
.instructions p{
    font-family: sans-serif;
    line-height: 1.2;
    margin-top: 2em;
    width: 400px;

}
span.emphasis{
    font-weight: 700;
    font-size: 1.2em;
}
.instructions h2 {
    font-family:'Rock Salt', fantasy, sans-serif;
    font-size: 2em;
}
div.ryu{
    float: left;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool{
    background-image: url('../images/ryu-cool.gif');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}
div.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px; 
    height: 90px;
    display: none;
    float: left;
    position: relative;
    top: 165px;
    left: -140px;
}